.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: 0 0 45px aqua
 }
  
  .calculator #display {
    width: 92%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(253, 254, 255);
    border-radius: 21px;
    border: 1px solid black;
  }
  
  .calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calculator .keys button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;

  }
  
  .calculator .keys button:last-child {
    grid-column: span 4;
  }
  